<h1>LOGIN </h1>
<form class= '' action='/login' method='post'>
  <label for="username">USERNAME</label>
  <input type='text' name='username' value='' minlength=4 maxlength=18 required>
  <label for="password">PASSWORD</label>
  <input type='password' name= 'password' value='' minlength=4 maxlength=18 required>
  <br>
  <input type='submit' name='name' value='LOGIN'>
</form></br>
<h1> REGISTER </h1>
<form class= '' action='/register' method='post'>
  <label for="newUsername">USERNAME</label>
  <input type='text' name='newUsername' value='' minlength=4 maxlength=18 required>
  <label for="newPassword">PASSWORD</label>
  <input type='password' name= 'newPassword' value='' minlength=4 maxlength=18 required>
  <br>
  <input type='submit' name='name' value='REGISTER'></br>
  </form>
